<!DOCTYPE html>
<html>
  <head>
    <title>ResourceRepositoryApp</title>
    <%= csrf_meta_tags %>
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-1L94saFXWAvEw88RkpRz8r28eQMvt7kG9ux3DdCqya/P3CfLNtgqzMnyaUa49Pl2" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Resource Repository App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <% if current_user %>
            <ul class="nav navbar-nav">
              <li><%= link_to "View All Resources", resources_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a>(<%= current_user.email %> - <%= current_user.role %>)</a></li>
              <% if current_user.role == 'teacher' %>
                <li><%= link_to "Create New Resource", new_resource_path %></li>
              <% end %>
              <li><a href="/logout">Logout</a></li>
            </ul>
        <% end %>
        </div>
      </div>
    </nav>

      <div class="container">
          <%= yield %>
      </div>
  </body>
</html>
