<!DOCTYPE html>
<html>
  <head>
    <title>ResourceRepositoryApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1>
        DBC Resource Repository
      </h1>
      <% if current_user %>
        (<%= current_user.email %> - <%= current_user.role %>) <%= link_to "logout", logout_path %> <br>
        <%= link_to "Create new resource", new_resource_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
